<!--<div session>
    <div class="m-t-2 col-sm-2 pull-right" ng-if="status.debug">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-heading">Session:</span>
            </div>
            <div class="panel-body">
                <div>Enabled: {{status.enabled}}</div>
                <div ng-if="status.enabled">
                    <div>InputDetected: {{status.inputDetected}}</div>
                    <div>TimeToWarn: {{status.timeToWarn}} / {{status.workingTimespan}}</div>
                    <div>TimeToSignOut: {{status.timeToSignOut}} / {{status.sessionTimespan}}</div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div ui-view></div>
