<div class="page-header">
    <div class="container">
        <h1>Instructor Account Creation</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>This account has already been associated.  </h4>
                </div>
                <div class="panel-footer">
                    <a href="dashboard/courses" class="btn btn-primary" id="confirmAssociated">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>