<div class="page-header">
    <div class="container">
        <h1>Instructor Account Creation</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <h4>Do you have an existing Single Sign In account?</h4>
            </div>
            <div class="panel-footer">
                <div class="">
                    <a ui-sref="session.layout.link-signin({ token: ec.Token })" class="btn btn-primary" id="yesSignIn">Yes, take me to Sign In</a>
                    <a ui-sref="session.layout.register({ token: ec.Token })" class="btn btn-primary pull-right" id="noRegisterAccount">No, I need an account</a>
                </div>
            </div>
        </div>
    </div>
</div>
