<div class="container m-t-2">
    <div class="col-sm-8 col-md-5 m-x-auto">
    <div class="panel panel-default">
        <div class="panel-body">
            <img class="sign-in-logo center-block" src="Content/Images/logo-login.png" alt="Hawkes Learning">
            <h1 class="text-center">Password Successfully Reset</h1>
            <p>
                Your password has been successfully reset!  Press Ok to continue to the course dashboard.
            </p>
            <a id="successOk" href="dashboard/course" class="btn btn-primary btn-block btn-lg">Ok</a>

            <hr>
            <p class="text-center">
                <b>Need help?</b>
                Call (843) 571-2825 or
                <a id="successLiveChat" href="javascript:void(window.open('https://secure.livechatinc.com/licence/5206491/open_chat.cgi','','width=495,height=345,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))">Live Chat 24/7</a>
            </p>
        </div>
    </div>
</div>
</div>
