<div class="page-header">
    <div class="container">
        <h1>Manage Accounts</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <a href="administration/account/tokens" class="thumbnail text-center">
                <div class="well">
                    <i class="fa fa-link fa-5x"></i>
                </div>
                <div id="tokenButton" class="caption">
                    <h3>Tokens</h3>
                </div>
            </a>
        </div>
    </div>
</div>