<div class="page-header">
    <div class="container">
        <h1>Administration</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <a href="administration/account" class="thumbnail text-center">
                <div class="well">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div id="accountButton" class="caption">
                    <h3>Account</h3>
                </div>
            </a>
        </div>
    </div>
</div>